#User Specific
*.userprefs
*.usertasks

#Mono Project Files
*.pidb
*.resources
**/test-results/

#Compiled files
**/bin/
**/gtk-gui/
**/obj/

#Nuget Packages
**/packages/

#Generated shell files
*.in
